<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Snack-eSage Web</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet"/>
		<link href="/static/css/login.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="container">
		  <form class="form-signin" action="/auth" method="POST">
			<h2 class="form-signin-heading">Login in</h2>
			<input type="text" class="input-block-level" placeholder="Username" name="username">
			<input type="password" class="input-block-level" placeholder="Password" name="password">
			<button class="btn btn-large btn-primary" type="submit">Submit</button>
		  </form>
		</div>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>