<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Snack-Esage Web</title>
	</head>
	<body>
		<div id="header">
			{% block header %}{% end %}
		</div>
		<div id="status">
			<h3>User</h3>{{ handler.session['user']['username'] }}
			<h3>Current tenant</h3>{{ handler.session['user']['client'].current_tenant['name'] }}
		</div>
		<div id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/instance/list">Instance list</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div id="content">
  			{% block content %}{% end %}
		</div>
		<div id="footer">
			{% block footer %}{% end %}
		</div>
	</body>
</html>

